In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("./data/consumption_temp.csv")

In [14]:
df

                      time     location  consumption  temperature
0      2022-04-07 21:00:00       bergen     1.113325         -0.3
1      2022-04-07 21:00:00         oslo     4.092830          1.0
2      2022-04-07 21:00:00    stavanger     2.057858          1.3
3      2022-04-07 21:00:00       tromsø     1.246582         -3.9
4      2022-04-07 21:00:00    trondheim     1.970098         -2.8
...                    ...          ...          ...          ...
49489  2023-04-02 21:00:00  helsingfors     6.333000         -1.1
49490  2023-04-02 21:00:00         oslo    12.134655         -1.1
49491  2023-04-02 21:00:00    stavanger     5.622820          0.5
49492  2023-04-02 21:00:00       tromsø     2.018333         -2.5
49493  2023-04-02 21:00:00    trondheim     3.749047         -3.8

[49494 rows x 4 columns]

In [15]:
locs = []
for loc in df["location"].unique():
    curr_loc = df[df["location"] == loc]
    curr_loc.drop(columns=["location", "time"], inplace=True)
    curr_corr = curr_loc.corr()
    loc = {"location": loc, "corr": curr_corr["consumption"]["temperature"]}
    locs.append(loc)

/var/folders/g1/sz_6p5c50mb_11wqn0n0dyzr0000gn/T/ipykernel_15780/2219261968.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_loc.drop(columns=["location", "time"], inplace=True)
/var/folders/g1/sz_6p5c50mb_11wqn0n0dyzr0000gn/T/ipykernel_15780/2219261968.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_loc.drop(columns=["location", "time"], inplace=True)
/var/folders/g1/sz_6p5c50mb_11wqn0n0dyzr0000gn/T/ipykernel_15780/2219261968.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_loc.drop(columns=["location", "time"], inplace=True)
/var/folders/g1/sz_6p5c50mb_11wqn0n0dyzr0000gn/T/ipykernel_15780/2219261968.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_loc.drop(columns=["location", "time"], inplace=True)
/var/folders/g1/sz_6p5c50mb_11wqn0n0dyzr0000gn/T/ipykernel_15780/2219261968.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_loc.drop(columns=["location", "time"], inplace=True)
/var/folders/g1/sz_6p5c50mb_11wqn0n0dyzr0000gn/T/ipykernel_15780/2219261968.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_loc.drop(columns=["location", "time"], inplace=True)

In [16]:
locs

[{'location': 'bergen', 'corr': -0.7813525046800388},
 {'location': 'oslo', 'corr': -0.8618539884591135},
 {'location': 'stavanger', 'corr': -0.7817474722766322},
 {'location': 'tromsø', 'corr': -0.8634357182125024},
 {'location': 'trondheim', 'corr': -0.8377792381542437},
 {'location': 'helsingfors', 'corr': -0.5678630056821886}]

In [18]:
df.drop(columns=["time", "location"], inplace=True)
general_corr = df.corr()
general_corr

             consumption  temperature
consumption     1.000000    -0.436456
temperature    -0.436456     1.000000